<div class ="card-header d-flex justify-content-between"
<h1>
My To Do Lists 
</h1></br></br></br>

</div>


  <ul class='list-group'>
    <% @todo_lists.each do |todo_list| %>
      <li class='list-group-item'>
        <%= link_to todo_list.title, todo_list %></li> 
      </li>
    <% end %>
  </ul> 

<br><br/> <br/> 

<%= link_to 'New Todo List', new_todo_list_path, class: 'btn btn-primary btn-sm'%>      
<%= link_to "Home Page", root_path, class: 'btn btn-primary btn-sm' %> 
